@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;

  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.div-img::before {
  content: "";
  background-image: linear-gradient(to bottom, #000000b7, #000000b0),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/aa9edac4-a0e6-4f12-896e-32c518daec62/web/EG-en-20241223-TRIFECTA-perspective_9c3e440c-be48-48d0-a203-321a7ec076dd_medium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
}

.inp {
  background: #242424af;
}

.parent {
  position: relative;
  margin: 0;
  padding: 0;
  height: 170px;
  width: 100%;
  overflow: hidden;
  border: none;
  z-index: 1;
  margin-top: -30px;
}

.div-before {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  top: 0;
  margin: auto;
  width: 200%;
  right: -50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: solid 0.25rem transparent;
  border-top-right-radius: 50% 100%;
  border-top-left-radius: 50% 100%;
  border-bottom: none;
  background: radial-gradient(
      50% 500% at 50% -420%,
      #4061e766 80%,
      #0000001a 100%
    ),
    black;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.div-before::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 175px;

  margin-top: -0.25rem;
  border-radius: inherit;
  background: linear-gradient(
    to left,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
}

@media (max-width: 600px) {
  .div-media h1 {
    font-size: 30px;
  }

  .div-media h2 {
    font-size: 20px;
  }

  .div-media p {
    width: 90%;
    margin: auto;
    font-size: 15px;
  }

  .div_inp_but {
    flex-direction: column;
    gap: 15px;
  }

  .div_inp_but input {
    width: 85%;
  }

  .div_inp_but button {
    font-size: 15px;
    padding: 10px 15px;
  }

  .button-media {
    margin-right: 30px;
    font-size: 15px;
    padding: 5px 10px;
  }

  .father_element {
    padding: 10px 0;
  }
}
